@model BookingAvailabilityModel


<div class="text-center">
    <h2>Available Dates for: </h2>
</div>
<div class="text-center">
    
    <h3>
        <Button class="btn btn-primary">&#8592;</Button>
    @Model.Month/@Model.Year
     <Button class="btn btn-primary">&#8594;</Button>
    </h3>
   
</div>

<div class="text-center">
    <h6>

    Key: Green = Fully Available, Yellow = Partially Booked, Red = Fully Booked. Hover over the dates to see which rooms are available!
    </h6>
</div>




<div class="row justify-content-center g-0">
    <div class="col-sm-1"></div>

    @{ for(int j = 0; j < 7; j++){
    <div class="col">
        @{ 
                for(int i = j; i < 31; i = i + 7){
                    if(Model.Availabilities[i,0] + Model.Availabilities[i,1] == 0){
                        <div class="row calendar-margin">
                            <div class="bg-success square border border-dark"  data-bs-toggle="tooltip" data-bs-placement="top" title="Both Guest and Front Room are available!"> @(i+1)</div>
                        </div>
                    }
                    else if(Model.Availabilities[i,0] + Model.Availabilities[i,1] == 1){
                        if(Model.Availabilities[i,0] == 1){
                            <div class="row calendar-margin">
                            <div class="bg-warning square border border-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Front Room available!">@(i+1)</div>
                            </div>
                        }
                        else{
                            <div class="row calendar-margin">
                            <div class="bg-warning square border border-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="Guest Room available!">@(i+1)</div>
                            </div>
                        }
                
                    }
                    else {
                        <div class="row calendar-margin">
                        <div class="bg-danger square border border-dark" data-bs-toggle="tooltip" data-bs-placement="top" title="No Rooms Avaliable :/">@(i+1)</div>
                        </div>
                    }
                }
        }

    </div>
        }
    }
    <div class="col-sm-1"></div>


    </div>


   